{% extends 'shared/base.html' %}

{% block content %}

<div class="container mt-4 d-flex justify-content-center">
    <div class="card p-4 w-50">
        <h2>Change Password</h2>
        
        <form method="post" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Change Password</button>
            <button type="button" class="btn btn-danger" onclick='window.location.href="{% url "Dating:gridview" %}" '>Cancel</button>
        </form>
    </div>
  </div>
  

{% endblock %}


