{% extends 'shared/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Choose Your Plan</h1>
    <div class="row mt-4 justify-content-center">
        <!-- Free plan -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Free</h3>
                </div>
                <div class="card-body text-center">
                    <h2>0 INR</h2>
                    <h3>Basic features</h3>
                    <p>During(6 months)</p>
                    <p>contact view(0)</p>
                    <p>Interest Express(0)</p>
                    <p>Private chat(No)</p>
                    <a href="" class="btn btn-primary">Select</a>
                </div>
            </div>
        </div>
        <!-- Standard Plan -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Standard</h3>
                </div>
                <div class="card-body text-center">
                    <h2> 500 INR</h2>
                    <h3>Basic features</h3>
                    <p>During(1 months)</p>
                    <p>contact view(100)</p>
                    <p>Interest Express(25)</p>
                    <p>Private chat(25)</p>
                    <a href="" class="btn btn-primary">Select</a>
                </div>
            </div>
        </div>
        <!-- Premium Plan -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Premium</h3>
                </div>
                <div class="card-body text-center">
                    <h2>1500 INR</h2>
                    <h3>Basic features</h3>
                    <p>During(6 months)</p>
                    <p>contact view(200)</p>
                    <p>Interest Express(100)</p>
                    <p>Private chat(100)</p>
                    <a href="" class="btn btn-success">Select</a>
                </div>
            </div>
        </div>
        <!-- Diamond Plan -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Diamond</h3>
                </div>
                <div class="card-body text-center">
                    <h2>2000 INR</h2>
                    <h3>Basic features</h3>
                    <p>During(1 year)</p>
                    <p>contact view(400)</p>
                    <p>Interest Express(200)</p>
                    <p>Private chat(200)</p>
                    <a href="" class="btn btn-warning">Select</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}