{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
<style>
    .message-container {
        max-height: 500px;
        overflow-y: scroll;
        margin-bottom: 20px;
    }

    .message {
        margin-bottom: 10px;
    }

    .message .content {
        padding: 10px;
        border-radius: 5px;
        max-width: 75%;
    }

    .message .sent .content {
        background-color: #e1ffc7;
        margin-left: auto;
    }

    .message .received .content {
        background-color: #f1f0f0;
    }

    .message-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .message-form textarea {
        flex: 1;
        margin-right: 10px;
    }
</style>

<div class="container mt-4">
    <a class="btn btn-secondary" type="submit" href="{% url 'Dating:gridview' %}">Back</a>
    <div class="row">
        <div class="col-md-12">
            <h2>Chat with {{ receiver.first_name }} {{ receiver.last_name }}</h2>

            <div class="message-container">
                {% for message in messages %}
                <div class="message {% if message.sender == user %}sent{% else %}received{% endif %}">
                    <div class="content" style="background-color: rgb(203, 207, 210);">
                        <p>{{ message.content }}</p>
                        <small class="text-muted">{{ message.timestamp }}</small>
                    </div>
                </div>
                {% empty %}
                <p>No messages yet.</p>
                {% endfor %}
            </div>

            <form method="post" class="message-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Send</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
