{% block content %}
<style>

</style>
<div class="container">
    <div class="row">
        <div class="col-2">
            <a class="dropdown-item" href="{% url 'Dating:gridview' %}">Home</a>
            <hr class="border border-1 border-danger">
            <a class="dropdown-item" href="{% url 'account:profile' %}">Profile</a>
            <hr>
            <a class="dropdown-item" href="{% url 'Dating:gallery' %}">Gallery</a>
            <hr>
            <a class="dropdown-item text-dark " href="{% url 'Dating:send_html' %}">Send interest</a>
            <hr>
            <a class="dropdown-item text-dark " href="{% url 'Dating:accept_requests' %}">Received interest</a>
            <hr>
            <a class="dropdown-item text-dark " href=" {% url 'Dating:friends_list' %}">Friends List</a>
            <hr>
            <a class="dropdown-item text-dark " href="{% url 'Dating:short_html' %}">Favorited</a>
            <hr>
            <a class="dropdown-item text-danger " href="{% url 'account:logout' %}">Logout</a>

        </div>

    </div>
</div>
{% endblock content %}