{% block content %}
<footer class="footer bg-dark mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer_content section">
                    <div class="row g-4 justify-content-center justify-content-xl-between">
                        <div class="col-md-6 col-lg-3">
                            <div class="footer_contact">
                                <h4 class="footer_title text-white mt-0">About Us</h4>
                                <p class="text-white">
                                    In recent years, many singles over 40 have begun to find their feet with dating websites and apps.
                                    There is a whole world of people looking for love, companionship, or friendship. We have gathered, reviewed, and rated the best and most trustworthy sites for you here, to help you on your way!
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 col-xl-2">
                            <h4 class="footer_title text-white mt-0">Quick Links</h4>
                            <ul class="footer_contact list list-base list--column">
                                <li class="list-column_item">
                                    <a class="t-link t-link-base text-white d-inline-block" href="{% url 'account:index' %}">Home</a>
                                </li>
                                <li class="list-column_item">
                                    <a class="t-link t-link-base text-white d-inline-block" href="{% url 'account:packages' %}">Packages</a>
                                </li>
                                <li class="list-column_item">
                                    <a class="t-link t-link-base text-white d-inline-block" href="#">Contact Us</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6 col-lg-3 col-xl-2">
                            <h4 class="footer_title text-white mt-0">Policies</h4>
                            <ul class="footer_contact list list-base list--column">
                                <li class="nav-item">
                                    <a class="t-link t-link-base text-white d-inline-block" href="#" target="_blank">Privacy Policy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="t-link t-link-base text-white d-inline-block" href="#" target="_blank">Terms and Conditions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="t-link t-link-base text-white d-inline-block" href="#" target="_blank">Refund and Cancellation Policy</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6 col-lg-3">
                            <h4 class="footer_title text-white mt-0">Contact Us</h4>
                            <ul class="footer_contact list list-column mt-4">
                                <li>
                                    <i class="fas fa-phone-alt"></i> 
                                    <a class="t-link t-link-base text-white d-inline-block" href="tel:9207735011">9207735011</a>
                                </li>
                                <li>
                                    <i class="far fa-envelope"></i> 
                                    <a class="t-link t-link-base text-white d-inline-block" href="mailto:dating@gmail.com">dating@gmail.com</a>
                                </li>
                                <li class="text-white">
                                    <i class="fas fa-map-marker-alt"></i> Address 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                
            </div>
        </div>
    </div>
</footer>
{% endblock content %}
